---
import MainLayout from "../layouts/mainLayout.astro";


---

 <MainLayout title="Sydney Piel - CV" description="hi" activePage={3} sidebarPage={0}>

	
	<div id="CV" class="section">


		<div class="img-with-info">
			<div class="description-box">
				<p>hi</p>
			   <h2>CV CV CV CV</h2>
			   <p> more words (about what i do) (things ive done words)</p>
			</div>
		 </div>

	</div>
	

 </MainLayout>
