---
import MainLayout from "../layouts/mainLayout.astro";


---

<MainLayout title="Sydney Piel" description="hi" activePage={2} sidebarPage={0} headerCheck="2">
   

	<div id="About" class="section">

      
		<div class="img-with-info">
         
         
		   <div class="description-box">
			  <p>My paintings are portals into another world filled with narratives of objects that reflect our deepest selves. This imagery compels us to confront the unknowing, uncaring pieces of matter that humanity can’t help but personify. One such entity is the moon; where although we could each call out to that same floating orb in the sky, all it could ever do in return is gaze down. By using the indifference and isolation of personified characters in contrast to a fantastical use of color, form, and framing, I aim to highlight the disconnection we feel from objects, often revealed through the importance of touch.</p>
		   </div>

         
         <div class="moon">

            <a href={`/works/2025/bed-time`} class="item3">
               <img src={`/src/images/moon.gif`} alt="Bed Time" class="help"/>
               <div class="overlay">Bed Time</div>
           </a>
      
         </div>



               
            
        </div>



		</div>


 </MainLayout>


