---
import MainLayout from "../layouts/mainLayout.astro";


---

 <MainLayout title="Sydney Piel" description="hi" activePage={2} sidebarPage={0}>


	<div id="About" class="section">
         <div class="img-with-info">
            <div class="description-box">
               <h2>about....</h2>
               <p>  words (about me) (descriptive words)</p>
            </div>
         </div>
      </div>

 </MainLayout>
