---
import MainLayout from "../../../layouts/mainLayout.astro";
import { getCollection } from "astro:content";
import Post from "../../../components/post.astro";


const artworks = await getCollection("artworks", (entry) => entry.data.year == 2023);


---

<MainLayout title="Sydney Piel - 2023" description="hi" activePage={1} sidebarPage={2023} headerInfo="some things i made in 2023" headerTitle="2023">
    

    <div class="container">

        {artworks.map((p) => <Post artwork={p}/>)}
        
    </div>
    
</MainLayout>

