---
import MainLayout from "../../../layouts/mainLayout.astro";
import { getCollection } from "astro:content";
import Post from "../../../components/post.astro";


const artworks = await getCollection("artworks", (entry) => entry.data.year == 2024);


---

<MainLayout title="Sydney Piel - 2024" description="hi" activePage={1} sidebarPage={2024} headerInfo="some things i made in 2024" headerTitle="2024">
   

    
    <div class="container">

        {artworks.map((p) => <Post artwork={p}/>)}
        

    </div>
    
</MainLayout>

