---
import MainLayout from "../../../layouts/mainLayout.astro";
---

 <MainLayout title="home" description="hi" activePage={1} sidebarPage={2}>

	<div id="Works" class="section f">

        <div class="img-with-info">
            <div class="description-box f">
            <h2><b>2025</b></h2>
            <p>pretend theres a bunch of things here from 2025</p>
            </div>

        </div>
    
    </div>

 </MainLayout>
