---
import MainLayout from "../../../layouts/mainLayout.astro";
import { getCollection } from "astro:content";
import Post from "../../../components/post.astro";


const artworks = await getCollection("artworks", (entry) => entry.data.year == 2025);


---
<MainLayout title="Sydney Piel - 2025" description="hi" activePage={1} sidebarPage={2025} headerInfo="some things i made in 2025" headerTitle="2025">
   

    
    <div class="container">

        {artworks.map((p) => <Post artwork={p}/>)}
        

    </div>
    
</MainLayout>

