---
import '../styles/style.css'

interface Props {
    title: string;
    description: string;
    activePage: number;
    sidebarPage: number;
}

const { title, activePage, sidebarPage } = Astro.props as Props;

---


<html lang="en">
<head>
    <link rel="icon" type="image/x-icon" href="/favicon.ico">

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{title}</title>
    <link rel="stylesheet" href="style.css">

</head>

<body>
<div class="sidebar">
      <h2><img src="/thing.gif" alt="Menu"></h2>
      <h3>sydney piel</h3>
      <ul>
        <li><a href="/works/selected" class={activePage === 1 ? "active-link" : ""}>works</a></li>
        <li><a href="/about" class={activePage === 2 ? "active-link" : ""}>about</a></li>
        <li><a href="/cv" class={activePage === 3 ? "active-link" : ""}>cv</a></li>
      </ul>
</div>

   <div class="main-content">
    
    {sidebarPage !== 0 && (
        <div class="sidebar-secondary">
          <ul>
            <li><a href="/works/selected" class={sidebarPage === 1 ? "active-link" : ""}>selected</a></li>
            <li><a href="/works/2025" class={sidebarPage === 2 ? "active-link" : ""}>2025</a></li>
            <li><a href="/works/2024" class={sidebarPage === 3 ? "active-link" : ""}>2024</a></li>
            <li><a href="/works/2023" class={sidebarPage === 4 ? "active-link" : ""}>2023</a></li>
          </ul>
        </div>
      )}
    
    
        <div id="Works" class="section f">
            <div class="works-content">
                <div class="section-item">

                    <slot></slot>
          
                </div>
        
            </div>
        </div>


      </div>
    </div>

</body>
</html>

